* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
}

#board {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  padding: 8px;
  background: radial-gradient(
    circle at center,
    transparent 0,
    transparent 55%,
    black 56%,
    red 62%
  );
}

.chip {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: -1;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}
